.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(3px);
    z-index: 10000;
    
        &.userDropdownConctainer {
            background-color: transparent;
            backdrop-filter: blur(0);
    
            .userDropdown {
                position: fixed;
                top: 65px;
                right: 14%
            }
        }

    &.conceptsListContainer {
        background-color: transparent;
        backdrop-filter: blur(0);

        .conceptsList {
            position: absolute;
            right: 43px;
            bottom: 10px;
            height: 270px;
            overflow: scroll;
        }
    }

    &.deletContainer,
    &.successContainer {
        background-color: transparent;
        backdrop-filter: blur(0);

        .delet,
        .success {
            position: absolute;
            top: 20px;
        }
    }
}